/*INDEX*/
body {
	background-image: url(background.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

header {
	font-family: 'EB Garamond', serif;
}
ul.menu {
	font-size: 18px;
}
.navbar-inverse {

    background-color: rgba(47, 18, 18, 0.75);
    border-color: #080808;
    background-image: none;
}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
	background-color: #350E0E;
}

.btn.audio-control {
	border: solid #947D7D 1px;
	margin-top: 12px;
	margin-bottom: 0;
	padding: 0 5px 0 5px;
	line-height: 25px;
}
.glyphicon {
	color: white;
}

.site-title {
	margin-top: 300px;
}
.site-title {
	color: white;
	text-align: center;
	font-size: 30px;
}
footer {
	background-color: rgba(47, 18, 18, 0.75);
	height: 50px;
	width: 100%;
	bottom: 0;
	position: fixed;
}
.footer-content {
	color: white;
	margin-top: 8px;
}
.copyright {
	color: #B9B4B4;
}
.badge.social {

	font-size: 20px;
	height: 35px;
	width: 35px;
	text-align: center;
	line-height: 30px;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	border-radius: 100%;
	margin-left: 10px;
}
.landing {
	display: block;
	text-align: center;
	padding-top: 20%;


}
/*ABOUT*/

.about {
	background-image: url(letter.jpg);
	background-repeat: repeat;
}
.introduction {
	margin-top: 60px;
}
.Cheryl {
	border-radius: 119.5px;
}
.intro-advance {
	margin-top: 24px;
	margin-bottom: 50px;
}

/*CALENDAR*/

.events {
	background-image: url(letter.jpg);
	background-repeat: repeat;
	background-size: cover;
}

.calendar {
	padding-top: 60px;
	margin-bottom: 50px;
}

/*MEDIA*/
.medias {
	background-image: url(letter.jpg);
	background-repeat: repeat;
	background-size: cover;
}
.videos {
	margin-top: 60px;
	margin-bottom: 50px;
}
iframe {
	margin-bottom: 35px;
}

/*OUTREACH*/
.outreach {
	background-image: url(letter.jpg);
	background-repeat: repeat;
	background-size: cover;
}
.outreach_description {
	margin-top: 80px;

}

/*SUPPORT*/

.support {
	background-image: url(letter.jpg);
	background-repeat: repeat;
	background-size: cover;
}
.support_letter {
	margin-top: 60px;

}
.support_btn {
	padding-top: 0px;
}
.support_link {
	padding: 5px 10px 5px 10px;
	-webkit-border: solid 1px;
	-moz-border: solid 1px;
	border: solid 1px;
}
blockquote {
	border-left: 0px;
}
cite {
	padding-bottom: 60px;
}

/*CONTACT*/

.contact {
	background-image: url(letter.jpg);
	background-repeat: repeat;
	background-size: cover;
}
.contact_info {
	margin-top: 60px;
	margin-bottom: 60px;
}
#contact{
    padding:10px 0 10px;
  }

  .contact-text{
    margin:45px auto;
  }

  .mail-message-area{
    width:100%;
    padding:0 15px;
  }

  .mail-message{
    width: 100%;
    /*background:rgba(255,255,255, 0.8) !important;*/
    /*-webkit-transition: all 0.7s;
    -moz-transition: all 0.7s;
    transition: all 0.7s;*/
    margin:0 auto;
    border-radius: 0;
  }

  .not-visible-message{
    height:0px;
    opacity: 0;
  }

  .visible-message{
    height:auto;
    opacity: 1;
    margin:25px auto 0;
  }

/* Input Styles */

  .form{
    width: 100%;
    padding: 15px;
    background:#f8f8f8;
    border:1px solid rgba(0, 0, 0, 0.075);
    margin-bottom:25px;
    color:#727272 !important;
    font-size:13px;
    /*-webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;*/
  }

  .form:hover{
    border:1px solid #8BC3A3;
  }

  .form:focus{
    color: white;
    outline: none;
    border:1px solid #8BC3A3;
  }

  .textarea{
    height: 200px;
    max-height: 200px;
    max-width: 100%;
  }

/* Generic Button Styles */

  .button{
    padding:8px 12px;
    background:#0A5175;
    display: block;
    width:120px;
    margin:10px 0 0px 0;
    border-radius:3px;
    /*-webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;*/
    text-align:center;
    font-size:0.8em;
    box-shadow: 0px 1px 4px rgba(0,0,0, 0.10);
    -moz-box-shadow: 0px 1px 4px rgba(0,0,0, 0.10);
    -webkit-box-shadow: 0px 1px 4px rgba(0,0,0, 0.10);
  }

  .button:hover{
    background:#8BC3A3;
    color:white;
  }

/* Send Button Styles */

  .form-btn{
    width:180px;
    display: block;
    height: auto;
    padding:15px;
    color:#fff;
    background:rgb(255,64,129);
    border:none;
    border-radius:3px;
    outline: none;
    /*-webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;*/
    margin:auto;
    box-shadow: 0px 1px 4px rgba(0,0,0, 0.10);
    -moz-box-shadow: 0px 1px 4px rgba(0,0,0, 0.10);
    -webkit-box-shadow: 0px 1px 4px rgba(0,0,0, 0.10);
  }

  .form-btn:hover{
    background:#4B4545;
    color: white;
    border:none;
  }

  .form-btn:active{
    opacity: 0.9;
  }
center{
  margin-top:330px;
}

/*FONTS*/
h1, h2, h3, h4, p {
	font-family: 'EB Garamond', serif;
}

h1, h4 {
	color: white;
}
h4 {
	padding-top: 45px;

}
p, small, h2, h3 {
	color: #4B4545;
}

p {
	font-size: 19px;
}
    /* Glyph, by Harry Roberts */

hr {
    padding: 0;
    border: none;
    border-top: medium double #4B4545;
    color: #4B4545;
    text-align: center;
}









button {
  background-color: transparent;
  border: 0;
  cursor: pointer;
}
.animate, .btn, .btn-border-o:before, .btn-border-o:after, .btn-border:before, .btn-border:after, .btn-border-rev-o:before, .btn-border-rev-o:after, .btn-border-rev:before, .btn-border-rev:after, .btn-fill-vert-o:before, .btn-fill-vert-o:after, .btn-fill-vert:before, .btn-fill-vert:after, .btn-fill-horz-o:before, .btn-fill-horz-o:after, .btn-fill-horz:before, .btn-fill-horz:after {
  -webkit-transition: all 0.3s;
          transition: all 0.3s;
}
.btn {
  display: inline-block;
  line-height: 35px;
  margin: 8px;
  padding: 0 15px;
  font-size: 15px;
  position: relative;
  opacity: .999;
  border-radius: 3px;
}
.btn-fill-vert-o {
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
  overflow: hidden;
}
.btn-fill-vert-o:before, .btn-fill-vert-o:after {
  content: '';
  width: 100%;
  height: 0;
  opacity: 0;
  position: absolute;
  left: 0;
  z-index: -1;
}
.btn-fill-vert-o:before {
  top: 50%;
}
.btn-fill-vert-o:after {
  bottom: 50%;
}
.btn-fill-vert-o:hover {
  color: #fff;
}
.btn-fill-vert-o:hover:before, .btn-fill-vert-o:hover:after {
  height: 50%;
  opacity: 1;
}
.btn-fill-vert-o.btn-red:before, .btn-fill-vert-o.btn-red:after {
  background-color: rgb(255,64,129);
}
.btn-fill-vert-o.btn-red:hover {
  border-color: rgb(255,64,129);
}

@media (max-width: 916px) {
	h4.advance-description {
		display: none;
	}
	.landing {
		padding-top: 40%;
	}
	.copyright {
		display: none;
	}
	.support_link {
	padding: 5px 10px 5px 10px;
	border: 0;
	}
	.btn.audio-control {
		display: none;
	}
}








